html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  max-height: 245px;
}

.robot {
  width: 320px;
  position: relative;
  top: 60px;
  margin: auto;

}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  display: none;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: relative;
  bottom: 230px;
  left: 160px;
}

.robot-head-left {
  position: relative;
  bottom: 230px;
  right: 95px;
}

.robot-head-right:hover {
  right: 1px;
}

.robot-head-left:hover {
  right: 2px;
}

.robot-brain:hover {
  position: absolute;
  display: block;
}
